/*SETUP CODE*/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
body {
  font-family: Helvetica;
  color: #eee;
  font-weight: bold;
  background-color: #000;
  background-size: cover;
}

/*HEADER CODE*/
header {
  background-color: #;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.headerChild1 {
  margin-left: 20px;
  width: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
  .headerChild1Child1 {
    padding-right: 15px;
  }
.headerChild2 {
  order: 1;
  font-size: 27px;
  text-transform: uppercase;
}
#headerChild3 {
  order: 2;
  margin-right: 20px;
  font-size: 17px;
}

/*CONTENT CODE*/
content {
  overflow: hidden;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainContentBox {
  width: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size: 12px;
  color: grey;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
    content {
      margin-top: 100px;
    }
    .headerChild1 {
      flex-direction: column;
      margin-top: 100px;
    }
