body {
  color: #eee;
  background-color: #000;
}

.signupForm {
  position: relative;
  color: white;
  display: flex;
  flex-flow: column;
}

.indexFormBoxCont {
  border: solid white 2px;
  width: 400px;
  padding: 5px;
  color: white;
}

.indexFormBox {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.indexFormBoxTitle {
  padding: 5px;
}
.indexFormButton {
  display: flex;
  justify-content: center;
}

.addFormBoxCont {
  border: solid black 2px;
  width: 415px;
  height: 30px;
  color: black;
}
#addFormBoxContText {
  border: solid black 2px;
  width: 400px;
  padding: 5px;
  color: black;
}

.addFormButton {
  display: flex;
  justify-content: center;
}

.addFormBox {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.addFormBoxTitle {
  padding: 5px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

#washInfoButton {
  padding-left: 5px;
}

#washInfo {
  margin-left: 80px;
  visibility: hidden;
  color: green;
  position: fixed;
}

#washInfoButton:hover + #washInfo {
  visibility: visible;
}

#indexSubmitButton {
  margin-top: 40px;
  border: solid white 2px;
  background-color: white;
  color: black;
  width: 100px;
  padding: 5px;
}

#indexSubmitButton:hover {
  background-color: black;
  color: white;
}

#addSubmitButton {
  margin-top: 40px;
  border: solid black 2px;
  background-color: black;
  color: white;
  width: 100px;
  padding: 5px;
}

#addSubmitButton:hover {
  background-color: white;
  color: black;
}

#addBoxUsername {
  display: none;
}

#userInputWash{
  -webkit-padding-start: 5px;
  -moz-padding-start: 5px;
  width: 406px;
  }

  .reactBtn{
    border: 2px solid Black;
    font-weight: bold;
    font-size: 8px;
    text-align: center;
    height: 19px;
    width:200px;
  }
  #reactBtn1:hover {
    background-color: black;
    color: #eee;
  }
  #reactBtn2:hover {
    background-color: black;
    color: #eee;
  }
#addCountButtonCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
